{{- if .Values.redis.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "payment-service.fullname" . }}-redis-master
  labels:
    {{- include "payment-service.labels" . | nindent 4 }}
    app.kubernetes.io/component: redis
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - port: 6379
      targetPort: redis
      protocol: TCP
      name: redis
  selector:
    {{- include "payment-service.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: redis
{{- end }}
